In [1]:
from hulearn.datasets import load_titanic

df = load_titanic(as_frame=True)
X, y = df.drop(columns=['survived']), df['survived']
X.head(4)

,pclass,name,sex,age,fare,sibsp,parch
0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,1,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,0
2,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,0

In [2]:
X['nchar'] = X['name'].str.len()

In [3]:
def process(dataf):
    # Make a copy of the dataframe to prevent it from overwriting the original data.
    dataf = dataf.copy()
    # Make the changes
    dataf['nchar'] = dataf['name'].str.len()
    # Return the name dataframe
    return dataf

In [4]:
X_new = process(X)

In [5]:
def preprocessing(dataf, n_char=True, gender=True):
    dataf = dataf.copy()
    if n_char:
        dataf['nchar'] = dataf['name'].str.len()
    if gender:
        dataf['gender'] = (dataf['sex'] == 'male').astype("float")
    return dataf.drop(columns=["name", "sex"])

In [6]:
# This is equivalent to preprocessing(X)
X.pipe(preprocessing)

     pclass   age     fare  sibsp  parch  nchar  gender
0         3  22.0   7.2500      1      0     23     1.0
1         1  38.0  71.2833      1      0     51     0.0
2         3  26.0   7.9250      0      0     22     0.0
3         1  35.0  53.1000      1      0     44     0.0
4         3  35.0   8.0500      0      0     24     1.0
..      ...   ...      ...    ...    ...    ...     ...
709       3  39.0  29.1250      0      5     36     0.0
710       2  27.0  13.0000      0      0     21     1.0
711       1  19.0  30.0000      0      0     28     0.0
712       1  26.0  30.0000      0      0     21     1.0
713       3  32.0   7.7500      0      0     19     1.0

[714 rows x 7 columns]

In [8]:
(df
  .pipe(set_col_types)
  .pipe(preprocessing, nchar=True, gender=False)
  .pipe(add_time_info))

TypeError: preprocessing() got an unexpected keyword argument 'nchar'